<div class="user-details">
  <h1>I'm Ruka, this is deernothing.</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
    <div class="tech">
      <hr class="style-two"/>
      <h2>Draw</h2>
      <p>My hobby is drawing and I create for the things I love by：</p>
      <div>
        <a href="https://www.pixiv.net/users/50395430"><h1 style="float: right;">  <strong>→  My Gallery</strong>  </h1></a>
      </div>
      <div>
        <d><img src="https://www.clipstudio.net/view/img/jp/common/logo_black.png" width="240" height="70" alt="clipstudio"/></d>
        <d><img src="https://www.systemax.jp/image/sai_logo.jpg" width="300" height="70" alt="SAI2" /></d>  
        <d><img src="https://www.pngitem.com/pimgs/m/4-42212_adobe-photoshop-logo-adobe-systems-coreldraw-photography-transparent.png" width="240" height="80" alt="photoshop"/></d>
      </div>
      
    </div>
  
  
</div>
